<template>
	<div class="home">
		<HouseList/>
	</div>
</template>

<script>
	import {createComponent} from '@vue/composition-api';
	import HouseList from './HouseList';
	
	export default createComponent({
		name: 'home',
		components: {
			HouseList
		}
	});
</script>