<template>
	<div class="HouseList LoStage">
		<h1>Houses of ice and fire</h1>
		<vue-scroll>
			<nav class="nav">
				<div class="nav__item" v-for="(house, index) in houses" :key="index"><router-link class="nav__item__link" :to="house.link">{{house.name}}</router-link></div>
			</nav>
		</vue-scroll>
	</div>
</template>

<script>
	import {ref, createComponent, computed, onBeforeMount} from '@vue/composition-api';
	import store from '../store';
	
	export default createComponent({
		name: 'HouseList',
		setup () {
			const perPage = ref(store.state.AIF.housesPerPage);
			onBeforeMount(() => houseList());
			const houses = computed(() => store.state.AIF.houseList);
			return {
				houses,
			};
		}
	})
	
	function houseList () {
		store.dispatch('AIF/housListGet');
	}
	
</script>

<style lang="scss" scoped>
	.HouseList {
		.controls {
			margin-bottom: 2rem;
		}
		.nav {
			text-align: left;
			max-height: 800px;
			&__item {
				padding-left: 30px;
				background: #18181d;
				&:hover {
					background: #2d2d33;
				}
				&__link {
					padding: 10px;
					display: inline-block;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
</style>