<template>
	<div class="LoStage" v-if="house">
		<h1 v-if="house.name">{{house.name}}</h1>
		<h2 v-if="house.founded">founded: {{house.founded}}</h2>
		<h2>Region: {{house.region}}</h2>
		<div v-if="house.currentLord">
			<h3>Current lord</h3>
			<CharacterCard :character="house.currentLord"/>
		</div>
		<div v-if="house.founder">
			<h3>Founder</h3>
			<CharacterCard :character="house.founder"/>
		</div>
		<div v-if="house.heir">
			<h3>Heir</h3>
			<CharacterCard :character="house.heir"/>
		</div>
		<router-link v-if="house.overlord" :to="house.overlordLink">Overlord</router-link>
	</div>
</template>

<script>
	import {createComponent, computed, onBeforeMount, watch} from '@vue/composition-api';
	import store from '../store';
	import CharacterCard from '../components/CharacterCard';
	
	export default createComponent({
		name: 'HouseDetail',
		setup (props, context) {
			const houseId = context.root.$route.params.id;
			onBeforeMount(() => houseDetail(houseId));
			const house = computed(() => store.getters['AIF/houseDetail'](houseId));
			const test = watch(() => context.root.$route.params.id, (a, b) => {
				if (a !== b) houseDetail(a);
			});
			return {
				house
			}
		},
		components: {
			CharacterCard
		}
	});
	
	function houseDetail (houseId) {
		store.dispatch('AIF/houseDetailGet', {id: houseId});
	}
</script>

<style lang="scss" scoped>
	div {
		text-align: left;
	}
</style>