<template>
	<div class="characterCard">
	
	</div>
</template>

<script>
	import {createComponent, computed, onBeforeMount} from '@vue/composition-api';
	export default createComponent({
		name: "CharaterCard",
		setup (props, context) {
			const houseId = context.root.$route.params.id;
			onBeforeMount(() => houseDetail(houseId));
			const house = computed(() => store.getters['AIF/houseDetail'](houseId));
			return {
				house
			}
		}
	});
</script>

<style scoped>

</style>