<template>
	<div class="characterCard">
	{{character.name}}
		<div v-if="character.born">Died: {{character.born}}</div>
		<div v-if="character.died">Died: {{character.died}}</div>
	</div>
</template>

<script>
	import {createComponent} from '@vue/composition-api';
	export default createComponent({
		name: "CharaterCard",
		props: {
			character: {
				required: true
			}
		},
		setup (props, context) {
			return {
			
			}
		}
	});
</script>

<style scoped>

</style>