<template>
	<div id="app">
		 <CubeShadow v-if="loading"></CubeShadow>
		<router-view :key="$route.fullPath"/>
	</div>
</template>

<script>
	import {createComponent, computed} from '@vue/composition-api';
	import {CubeShadow} from 'vue-loading-spinner'
	import store from './store';
	export default createComponent({
		setup () {
			const loading = computed(() => store.state.AIF.loading);
			return {
				loading
			}
		},
		components: {
			CubeShadow
		}
	})
</script>

<style lang="scss">
	body {
		margin: 0;
		background: #1f1f1f;
	}
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #fff;
	}
	.LoStage {
		max-width: 1200px;
		width: 96%;
		padding-left: 2%;
		padding-right: 2%;
		margin: auto;
	}
</style>